  name: Linux workflow

  on:
    push:
      branches:
        - develop
    pull_request:
      branches:
        - develop

  jobs:
    prepare:
      runs-on: ubuntu-20.04
      steps:
        - 
          name: Clean workspace
          run: |
            echo "Cleaning up previous run"
            rm -rf "${{ github.workspace }}"

    build:
      needs: prepare
      runs-on: ubuntu-20.04
      steps:
        - name: Install dependencies
          run: |
            sudo apt-get install -qqy \
            build-essential \
            git \
            lcov \
            gcovr \
            qtbase5-dev \
            libqt5websockets5-dev \
            openssl \
            libssl-dev \
            cmake \
            wget

        - name: Checkout repository
          uses: actions/checkout@v2
          with:
            path: libcore
            clean: true
            submodules: true

        - name: Build libcore
          run: |
            mkdir libcore-build
            cd libcore-build
            cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=YES -DBUILD_TESTS=ON ../libcore
            make -j$(nproc)

        - name: Run tests
          run: ctest --timeout 240 -VV
          continue-on-error: true
          working-directory: libcore-build

        - name: Generate coverage
          run: |
            lcov -q --directory core/src/ \
            --base-directory ../libcore/core/src/ \
            --no-external \
            --capture \
            -o lcov.info
            genhtml --ignore-errors \
            source lcov.info \
            --title "Libcore: Unit Test Coverage" \
            --frames \
            --show-details \
            --keep-descriptions \
            --output-directory=lcov_html_report
          working-directory: libcore-build

        - name : Upload shared library
          uses: actions/upload-artifact@v2
          with:
            name: libledger-core.so
            path: |
              libcore-build/core/src/libledger-core.so

        - name : Upload static library
          uses: actions/upload-artifact@v2
          with:
            name: libledger-core-static.a
            path: |
              libcore-build/core/src/libledger-core-static.a

        - name : Upload coverage report
          uses: actions/upload-artifact@v2
          with:
            name: lcov_html_report
            path: |
              libcore-build/lcov_html_report